@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ExtraBold";
  src: url("/frontend/public/font/Barlow-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: url("/frontend/public/font/Barlow-SemiBold.ttf") format("truetype");
}
